.popup-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:99999;
    animation:fade .4s;
}

.popup-card{

    width:450px;
    max-width:92%;

    background:#fff;
    border-radius:18px;

    padding:35px;
    position:relative;

    box-shadow:0 25px 60px rgba(0,0,0,.2);

    animation:popup .45s;
}

.close-btn{

    position:absolute;
    top:15px;
    right:15px;

    width:35px;
    height:35px;

    border:none;
    border-radius:50%;

    background:#f3f4f6;

    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:.3s;
}

.close-btn:hover{
    background:#0b2b56;
    color:#fff;
}

.popup-card h2{

    color:#0b2b56;
    margin-bottom:8px;
}

.popup-card p{

    color:#6b7280;
    margin-bottom:25px;
}

.popup-card form{

    display:flex;
    flex-direction:column;
    gap:15px;
}

.popup-card input,
.popup-card select,
.popup-card textarea{

    width:100%;

    padding:14px;

    border:1px solid #ddd;
    border-radius:10px;

    font-size:15px;
    outline:none;

    transition:.3s;
}

.popup-card input:focus,
.popup-card select:focus,
.popup-card textarea:focus{

    border-color:#0b2b56;
}

.popup-card button[type="submit"]{

    background:#0b2b56;
    color:#fff;

    border:none;
    padding:15px;

    border-radius:10px;

    font-size:16px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.popup-card button[type="submit"]:hover{

    background:#d69e2e;
}

@keyframes popup{

    from{
        transform:translateY(50px);
        opacity:0;
    }

    to{
        transform:translateY(0);
        opacity:1;
    }

}

@keyframes fade{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }

}